@charset "UTF-8";
body{
background:#f4f7fb;
font-family: 'Segoe UI', sans-serif;
}


.dashboard-container{
padding:40px;
}

.welcome-box{
	
background:#003366;
color:white;
padding:30px;
border-radius:12px;
margin-bottom:30px;
animation:fadeIn 1s ease-in-out;
}

.card-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.dashboard-card{
background:white;
border-radius:12px;
padding:30px;
text-align:center;
box-shadow:0 8px 20px rgba(0,0,0,0.1);
transition:0.3s;
position:relative;
overflow:hidden;
}

.dashboard-card:hover{
transform:translateY(-10px) scale(1.03);
box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

.dashboard-card i{
font-size:40px;
color:#003366;
margin-bottom:15px;
}

.dashboard-card h3{
font-size:18px;
margin-bottom:10px;
}

.dashboard-card a{
text-decoration:none;
color:white;
background:#4facfe;
padding:8px 16px;
border-radius:6px;
font-size:14px;
display:inline-block;
transition:0.3s;
}

.dashboard-card a:hover{
background:#003366;
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}