<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>HMS2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>com.amstech.hms.controller.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocServlet</display-name>
    <servlet-name>DocServlet</servlet-name>
    <servlet-class>com.amstech.hms.controller.DoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocServlet</servlet-name>
    <url-pattern>/DocServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppoinmentServlet</display-name>
    <servlet-name>AppoinmentServlet</servlet-name>
    <servlet-class>AppoinmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppoinmentServlet</servlet-name>
    <url-pattern>/AppoinmentServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
 <!--  <servlet>
    <description></description>
    <display-name>PrescriptionServlet</display-name>
    <servlet-name>PrescriptionServlet</servlet-name>
    <servlet-class>com.amstech.hms.controller.PrescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrescriptionServlet</servlet-name>
    <url-pattern>/PrescriptionServlet</url-pattern>
  </servlet-mapping> -->
</web-app>